.masonry_wrapper {
  margin: 0 auto;
  width: 90vw;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 500px) {
  .masonry_wrapper {
    flex-wrap: wrap;
  }
}
.masonry_column {
  flex-basis: 25%;
  width: 25%;

  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 500px) {
  .masonry_column {
    flex-basis: 50%;
    width: 50%;
  }
}
.img_wrapper {
  width: 100%;
}
.masonry_img {
  width: 100%;
}
